{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "vue/setup-compiler-macros": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": ["simple-import-sort"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "vue/multi-word-component-names": "off",
    "vue/attribute-hyphenation": "off",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always",
          "normal": "always",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "vue/v-on-event-hyphenation": "off",
    "vue/require-default-prop": "off",
    "vue/comment-directive": "off",
    "vue/no-reserved-component-names": "off",
    "vue/valid-attribute-name": 2,
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "no-restricted-syntax": 0,
    "no-console": "warn",
    "no-debugger": "warn",
    "eqeqeq": ["error", "always"],
    "vue/eqeqeq": ["error", "always"]
  }
}
